/* Account Selection Styles */
.account-select {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 1;
}

.account-select.active {
    transform: translate(-50%, -50%) scale(1);
}

.account-select-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .account-select-options {
        gap: 10px;
    }
}

.account-select-options.active {
    overflow: visible;
}

.account-select-option {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
    width: max-content;
    background-color: transparent;
}

.account-select-option:hover {
    border: 1px solid var(--clr-surface-a30);
    background-color: var(--clr-surface-a10);
}

.account-select-option span {
    font-size: 20px;
}

.account-select-option img {
    width: clamp(100px, 20vw, 150px);
    height: clamp(100px, 20vw, 150px);
    border-radius: 20px;
    object-fit: cover;
}

/* Fade to next page (Zooming in did not end up working correctly and good, was a fun thing to try though) */
.account-select.fading-out {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.dashboard {
    animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from { opacity: 0; transform: scale(0.98); }
    to { opacity: 1; transform: scale(1); }
}

.password-overlay,
.check-2fa-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    animation: fade-in-n 0.3s ease forwards;
}

@keyframes fade-in-n {
    from { opacity: 0; }
    to { opacity: 1; }
}

.password-overlay-content,
.check-2fa-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 10000;
}

@media screen and (max-width: 768px) {
    .password-overlay-content {
        width: 80%;
    }
    
}

.password-overlay-title,
.check-2fa-overlay-title {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: var(--clr-text-a0);
}

.password-overlay-text,
.check-2fa-overlay-text {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--clr-text-a30);
}

.password-overlay-input,
.check-2fa-backup-popup-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    height: 100%;
}

.password-overlay-input-container,
.check-2fa-popup-backup-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.password-overlay-button,
.check-2fa-popup-button{
    background-color: var(--clr-surface-a10);
    border: 1px solid var(--clr-surface-a50);
    color: var(--clr-text-a0);
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.password-overlay-button:hover,
.check-2fa-popup-button:hover {
    background-color: var(--clr-surface-a30);
    border-color: var(--clr-surface-a50);
}

.password-overlay-button-icon {
    margin: 0px;
    width: 24px;
    height: 20px;
}

.password-overlay-close,
.check-2fa-overlay-close {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    color: var(--clr-text-a0);
    transition: color 0.2s ease-in-out;
    width: 50px;
    height: 50px;
}

.check-2fa-overlay-use-backup {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    color: var(--clr-text-a30);
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
}
